# pycharm project files
/.idea/*

# Python environment
/.venv/*

# Python byte code
**/*.pyc

# KiCad temp files
**/fp-info-cache
**/*.kicad_prl
**/*.bak
**/~*.lck

# FreeCAD temp files
**/*.FCBak

# Toolbox build output
/toolbox/lib
/toolbox/LilyKiCadToolbox.exe

# Temporary files
/temp/*

# Manufacturing output in projects
/projects/**/output/**
