[MESSAGES CONTROL]
disable = broad-exception-caught,
          cell-var-from-loop,
          missing-class-docstring,
          missing-function-docstring,
          too-few-public-methods,
          too-many-branches,
          too-many-locals,
          too-many-nested-blocks,
          wrong-import-order

[TYPECHECK]
ignored-modules = wx
